.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  text-align: center;

  h1 {
    font-size: 20rem;
    color: #ff6060;
    margin: 0;
  }

  p {
    font-size: 2rem;
    margin: 40px 0;
    color: #ff4040;
  }

  a {
    text-decoration:underline;
    color: black;
    padding: 80px
}
}

@media (max-width: 768px) {
  .error404 {
    height: auto; 
    padding: 60px;

    h1 {
      font-size: 8rem; 
      margin: 40px;
    }

    p {
      font-size: 1.5rem;
      margin: 20px 0;
    }

    a {
      padding: 60px; 
      font-size: 1.2rem;
    }
  }
}
