.logement-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;

  .slideshow {
    width: 100%;
    height: 600px; 
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    .slide {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



.logement-image {
  width: 100%;         
  height: 400px;   
  object-fit: cover;    
  border-radius: 10px;
  margin-bottom: 20px;
}


.logement-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
 
.logement-info h1 {
  font-size: 2rem;
  color: #ff6060;
}

.logement-collapses {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap; 
}

.collapse {
  flex: 1 1 48%;   
  min-width: 300px; 
}


.collapse {
  flex: 1 1 48%;   
  min-width: 300px; 
  margin-top: 10px;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.collapse-content {
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-top: 5px;
}

