.logement-page {
  margin: 20px 20px;
  padding: 20px;

  .slideshow {
    width: 100%;
    height: 800px; 
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    .slide {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.logement-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
 
.logement-info h1 {
  font-size: 2rem;
  color: #ff6060;
}

.logement-collapses {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 20px;
}

.tags {
  display: flex;
  gap: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tag{
  color: white;
  background-color: #ff6060;
  padding: 4px 40px ;
  border-radius: 12px;
}

.collapse {
  flex: 1 1 48%;    
}
.host-name {
  color: #ff6060;
  font-size: 1.5rem;
}

.host-rating {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  gap: 15px; 
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host img {
  width: 60px;   
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}


.rating {
  display: flex;
  gap: 6px;
}

.rating span {
  font-size: 3rem; 
  color: #ff6060;
}

@media (max-width: 768px) { 
  .logement-page {
    margin: 10px 20px;
    padding: 10px;

    .slideshow {
      height: 300px; 
    }
  }

  .logement-image {
    height: 300px; 
  }

  .logement-info {
    flex-direction: column;
    gap: 10px;
  }

  .logement-collapses {
    flex-direction: column;
    gap: 0px;
  }


  .tags {
    flex-wrap: wrap;
    gap: 10px;
  }

  .tag {
    padding: 4px 20px;
  }

  .collapse {
    flex: 1 1 100%;
    min-width: auto;
    margin-top: 10px;
  }

  
  .host-rating {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
  }
  

  .host {
    order: 2; 
    
  }

  .host-name {
    font-size: 1rem;
  }

  .host img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  .rating {
    gap: 6px;
    order: 1; 
  }

  .rating span {
    font-size: 1.5rem;
  }
}

.logement-info h1 {
  font-size: 1.5rem;
}
